<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ holder__username }}</title>
</head>
<body>
    <p>
        <table width="50%" align="center" border="1">
        <tr>
            <td align="center"><a href="/">ALL</a></td>
        {% for user in users %}
            <td align="center"><a href="/{{ user.username }}/">{{ user.username }}</a></td>
        {% endfor %}
        </tr>
        </table>
    </p>
        <table width="50%" align="center" border="1">
    {% for item in items %}
        <tr>
            <td><a href="{{ item.id }}/">{{ item.created|date:"d.m.Y" }}</a></td>
            <td>{{ item.holder }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.status }}</td>
        </tr>
    {% empty %}
        <tr> No Task </tr>
    {% endfor %}
        </table>
</body>
</html>