{% extends 'django_app/layout/basic.html' %}

{% block content %}
<table width="70%" align="center" border="1" cellspacing="0">
{% for item in items %}
    <tr>
        <td><a href="{% url 'element_page' item.id %}">{{ item.created|date:"d.m.y" }}</a></td>
        <td>{{ item.holder }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.schedule_group.description }}</td>
        </tr>
{% empty %}
        <tr> No Task </tr>
{% endfor %}
</table>
{% endblock %}