{% extends 'django_app/layout/basic.html' %}

{% block content %}
<table width="80%" align="center" border="1" cellspacing="0">
    <tr class="table_header_class">
        <td width="15%">Creating date</td>
        <td width="15%">Username</td>
        <td width="40%">Description</td>
        <td width="15%">Status</td>
        <td width="15%">Group</td>
    </tr>
{% for item in items %}
    {% if item.status == 'COMPLETED' %}
    <tr class="completed">
    {% else %}
    <tr>
    {% endif %}
        <td><a href="{% url 'element_page' item.id %}">{{ item.created|date:"d.m.y" }}</a></td>
        <td>{{ item.holder }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.schedule_group.description }}</td>
    </tr>
{% empty %}
        <tr> No Task </tr>
{% endfor %}
</table>
{% endblock %}