<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER - {{ holder__username }}</title>
</head>
<body>
{% for item in items %}
<p>{{ item.created|date:"d.m.Y H:i:s" }}</p>
<p>{{ item.description }}</p>
<p>{{ item.status }}</p>
{% endfor %}
<!--<form action="/your-name/" method="post">-->
<!--    <label for="your_name">Your name: </label>-->
<!--    <input id="your_name" type="text" name="your_name" value="{{ holder__username }}">-->
<!--    <input type="submit" value="OK">-->
<!--</form>-->
</body>
</html>