<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}Ежедневник</title>
    <link rel="stylesheet" type="text/css" href="{% static 'django_app/style.css' %}">
</head>
<body>
{% if request.user.username %}
    <header>
        <h1>Records in home database</h1>
    </header>
    <nav>
        <a href="{% url 'start_page' %}">На главную</a>
        <a href="{% url 'add_record' %}">Добавить запись</a>
        {% for user in users %}
        <a href="{% url 'user_page' user.username %}">{{ user.username }}</a>
        {% endfor %}
    </nav>
    <section>

        {% block content %}
        {% endblock %}
    </section>
{% else %}
ACCESS DENIED
{% endif %}
<!--<img src="{% static 'django_app/img1.jpg' %}">-->
</body>
</html>